body {
    background-color: #131313;
    margin: 200px 200px 200px 200px;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: #DFDFDF;
}

button#drawBtn {
    background-color: bisque;
    width: 200px;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 200px;
    display: none;
    color: #989898;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    color: #DFDFDF;
}

.cube {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: auto;
    height: auto;
    display: block;
}

.fa {
    padding: 10px 10px 0px 10px;
    font-size: 50px;
    text-align: center;
    margin-right: 40px;
    color: #ffffff99;
    text-decoration: none;
    height: 50px;
    width: 50px;
}

.fa:hover{
    opacity: 0.7;
}